{{define "doctorList"}}

{{range .Doctors}}
<div class="rounded-lg border bg-card text-card-foreground shadow-sm">
  <div class="flex-col space-y-1.5 flex items-center gap-4 p-4">
    <div class="flex items-center gap-2">
      <div class="grid gap-1">
        <h3 class="font-semibold">{{.Name}}</h3>
      </div>
    </div>
  </div>
  <div class="p-4">
    <div class="grid gap-2">
      <p class="text-sm leading-none">
        <span class="font-semibold">Spécialité :</span> {{.Profession}}
      </p>
      <p class="text-sm leading-none">
        <span class="font-semibold">Lieu :</span> {{.Address}}, {{.Zip}} {{.City}}
      </p>
      {{if .Description.Valid}}
      <p class="text-sm leading-none">
        <span class="font-semibold">Note :</span> {{.Description.String}}
      </p>
      {{end}}
    </div>
  </div>
</div>
{{end}}

{{if gt (len .Doctors) 0}}
<div class="flex flex-col items-center" id="load-more-doctors">
<button class="btn btn-neutral btn-block" hx-get="/?page={{.Page}}" hx-target="#load-more-doctors" hx-swap="outerHTML" hx-indicator=".loading-spinner" hx-select="#doctors > div">Voir plus</button>
  <span class="loading loading-spinner loading-lg htmx-indicator"></span>
</div>
{{end}}

{{end}}
