{{define "header"}}
<header class="border-b border-gray-200  flex items-center justify-between px-4 md:px-6 py-3">
    <div class="container mx-auto">
        <nav class="flex items-center justify-between">
            <a class="flex items-center space-x-2 font-semibold tracking-widest" href="/" hx-swap="transition:true">
                {{svg "heart" "w-6 h-6 text-rose-600"}}
                <span class="sr-only">Home</span>
                Home
            </a>
            <div class="flex items-center space-x-4">
                <label class="input input-bordered flex items-center gap-2">
                    <input type="text" class="grow" placeholder="Recherche" />
                    {{svg "magnifying-glass" "w-6 h-6 text-gray-500"}}
                </label>
                <div class="dropdown">
                    <div tabindex="0" role="button"
                        class="btn btn-outline border-gray-400 hover:bg-gray-500 hover:border-gray-500">{{svg "funnel"
                        "w-4 h-4 mr-2"}} Filtrer</div>
                    <div tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                        <div class="menu-title">
                            <p>Filtrer par :</p>
                        </div>
                        <ul class="menu py-2">
                            <li>
                                <a href="#" class="menu-item">Nom</a>
                            </li>
                            <li>
                                <a href="#" class="menu-item">Distance</a>
                            </li>
                            <li>
                                <a href="#" class="menu-item">Profession</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <label class="swap swap-rotate">
                    <input type="checkbox" class="theme-controller" value="dark" />
                    {{svg "sun" "w-8 h-8 text-yellow-400 swap-off"}}
                    {{svg "moon" "w-8 h-8 text-blue-400 swap-on"}}
                </label>
                <script>
                    document.querySelector('.theme-controller').addEventListener('change', function (evt) {
                        const theme = evt.target.checked ? 'dark' : 'light';
                        localStorage.setItem('theme', theme);
                    });
                    document.addEventListener('DOMContentLoaded', function () {
                        const theme = localStorage.getItem('theme');
                        const themeController = document.querySelector('.theme-controller');

                        if (theme === 'dark') {
                            themeController.checked = true;
                        } else {
                            themeController.checked = false;
                        }
                    });
                </script>
            </div>
        </nav>
    </div>
</header>
{{end}}
